    :root {
        --cor1: #1818d3;
        --cor2: #bb0b0b;
        --cor3: #13139a;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    .imgTop {
        background-image: url('../img/nyc.jpg');
        background-color: var(--cor3);
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom center;
        height: 800px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.791);
    }

    .logomarca {
        width: 300px;
        margin-top: 70px;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .imgTop h1 {
        text-align: center;
        font-size: 5em;
        padding-top: 100px;
        color: yellow;
        text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.813);
    }

    .imgTop strong {
        color: yellow;
    }

    .imgTop h2 {
        text-align: center;

        font-size: 3em;
        padding-top: 20px;
        color: aliceblue;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.908);
        padding-bottom: 50px;
    }

    .saiba {
        color: aliceblue;
        background-color: var(--cor1);
        padding: 20px;
        border-radius: 20px;
        width: 150px;
        text-align: center;
        margin: auto;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.624);
        transition: .5s;
        cursor: pointer;  
        font-size: 1em;     
    }

    .saiba a {
        color: aliceblue;
        text-decoration: none;
        font-size: 1em; 
    }

    .saiba:hover {
        color: aliceblue;
        background-color: var(--cor3);
        padding: 20px;
        border-radius: 20px;
        width: 150px;
        text-align: center;
        margin: auto;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.624);
        font-size: 1em;         
    }

    .tMotivos h2{
        text-align: center;
        padding: 30px 0 30px 0;
        color: #1818d3;
        font-size: 2em;
    }

    .alinhar, .alinhar2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .motivos {
        width: 170px;
        display: inline-block;
        margin: 10px;
    }

    .motivosT {
        color: #1818d3;
        text-align: center;
        font-size: 1.5em;
    }

    .tMotivos strong {
        color: var(--cor2);
        font-size: 1.1em;
    }

    .icon {
        text-align: center;
        font-size: 4em;
        border-top: 5px solid var(--cor2);
        color: var(--cor3);
    }

    .intensivo {
        background-color: var(--cor1);
        background-image: url('../img/flag.jpg');
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        color: aliceblue;
        position: relative;
        padding: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.791);
    }

    .semi {
        width: 700px;
        display: inline-block;
        margin: 10px 0 25px 0;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.275);
        padding: 10px;
        border-radius: 10px;
    }
   

    .semi p {
        text-align: center;
        text-shadow: 3px 3px 3px black;
        line-height: 1.3em;
    }

   footer {
    text-align: center;
    padding: 5px;
   }

   footer img {
    width: 100px;
   }

   .fLogo {
    font-size: .8em;
    padding-top: 10px;
   }

   .fLogo p {
    padding-top: 10px;
   }

   .rodape {
    text-align: center;
   }

   .fLogo, .redes {
    display: inline-block;
    margin: 0 50px;
   }

   .rodape i {
    margin: 0 10px;
    color: var(--cor1);
   }

   .rodape i:hover {
    margin: 0 10px;
    color: var(--cor3);
   }


   @media (max-width: 500px) {

    .imgTop {
        background-image: url('../img/nyc.jpg');
        background-color: var(--cor3);
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom center;
        height: 500px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.791);
    }

    .logomarca {
        width: 200px;
        margin-top: 70px;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .imgTop h1 {
        text-align: center;
        font-size: 1.5em;
        padding-top: 100px;
        color: yellow;
        text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.813);
    }

    .imgTop strong {
        color: yellow;
    }

    .imgTop h2 {
        text-align: center;

        font-size: 1.2em;
        padding-top: 20px;
        color: aliceblue;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.908);
        padding-bottom: 50px;
    }

    .saiba {
        color: aliceblue;
        background-color: var(--cor1);
        padding: 20px;
        border-radius: 20px;
        width: 150px;
        text-align: center;
        margin: auto;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.624);
        transition: .5s;
        cursor: pointer;  
        font-size: 1em;     
    }

    .saiba a {
        color: aliceblue;
        text-decoration: none;
        font-size: 1em; 
    }

    .saiba:hover {
        color: aliceblue;
        background-color: var(--cor3);
        padding: 20px;
        border-radius: 20px;
        width: 150px;
        text-align: center;
        margin: auto;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.624);
        font-size: 1em;         
    }

    .tMotivos h2{
        text-align: center;
        padding: 30px 0 30px 0;
        color: #1818d3;
        font-size: 1.2em;
    }

    .alinhar {
        text-align: center;
        margin-bottom: 20px;
    }

    .alinhar2 {
        text-align: center;
        margin-bottom: 20px;
        width: 80%;
        margin: auto;
    }

    .motivos {
        width: 170px;
        margin: 10px;
        display: inline;
    }

    .motivosT {
        color: #1818d3;
        text-align: center;
        font-size: 1.5em;
    }

    .tMotivos strong {
        color: var(--cor2);
        font-size: 1.1em;
    }

    .icon {
        text-align: center;
        font-size: 4em;
        border-top: 5px solid var(--cor2);
        color: var(--cor3);
    }

    .intensivo {
        background-color: var(--cor1);
        background-image: url('../img/flag.jpg');
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        color: aliceblue;
        position: relative;
        padding: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.791);
    }

    .semi {
        width: 300px;
        margin: 10px 0 25px 0;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.275);
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
    }
   

    .semi p {
        text-align: center;
        text-shadow: 3px 3px 3px black;
        line-height: 1.3em;
    }

   footer {
    text-align: center;
    padding: 5px;
   }

   footer img {
    width: 100px;
   }

   .fLogo {
    font-size: .8em;
    padding-top: 10px;
   }

   .fLogo p {
    padding-top: 10px;
   }

   .rodape {
    text-align: center;
   }

   .fLogo, .redes {
    display: inline-block;
    margin: 0 50px;
   }

   .rodape i {
    margin: 0 10px;
    color: var(--cor1);
   }

   .rodape i:hover {
    margin: 0 10px;
    color: var(--cor3);
   }

   }

 